<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img src="{% static 'logos.png' %}" width="25">
            <a class="navbar-brand text-warning" href="/dashboard">Foody Buddy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="dashboard/search">Search</a>
                    </li>              
                </ul>
                <span class="navbar-text">
                    Hi, {{this_user.first_name}} {{this_user.last_name}} <a href="/logout" role="button"
                    id="logout_button" class="btn btn-warning">Logout</a> 
                </span>
            </div>
        </div>
    </nav>
    <div class="all_new">
        <h1>Add a Restaurant</h1>
            <form action="/dashboard/create" method="post">
                {% csrf_token %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="new_bar">
                    <section>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="address" class="form-control" name="address">
                        </div>
                        <div class="form-group">
                            <label for="restaurant_name">Restaurant Name</label>
                            <input type="text" class="form-control" name="restaurant_name">
                            
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" name="date">
                        </div>
                        <div class="form-group">
                            <label for="time">Time</label>
                            <input type="time" class="form-control" name="time">
                        </div>
                    </section>
                </div>
                <button type="submit" class="btn btn-outline-warning">Submit</button>
            </form>
    </div>
    <script>
        var onLoaded = function() {
           // I am assuming your field has id of where_load, it might be different
            var location_input = document.getElementById('where_load');
            var autocomplete = new google.maps.places.Autocomplete(location_input);
    
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=onLoaded" async defer></script>
</body>

</html>